
fastapi==0.111.1
uvicorn[standard]==0.30.3
sqlalchemy==2.0.31
psycopg2-binary==2.9.9
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.1
pydantic==2.8.2
pydantic-settings==2.3.4
alembic==1.13.2

